h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    
}

.nav-back-color {
    background-color: #f3e9f1;
}
#logo{
    width: 150px;
}
main {
    display : flex;
    flex-wrap: wrap;
}

.product_container{
    
    width: 300px;
}

.product_img{
    width : 100%;
}

.nav-item ion-icon {
    vertical-align: bottom;
    font-size: 20px;
}

